{% extends 'layouts/base.html' %}

{% block title %}Global Exchange{% endblock %}

{% block content %}
    {% include 'components/navbar.html' %}

    <div class="main-container">
        {% include 'components/back-button.html' with href='/' text='Volver al inicio' %}

        {% if messages %}
            {% for message in messages %}
                <div class="alert-message" role="status">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block payments_content %}{% endblock %}
    </div>
{% endblock %}